<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sharearide.com.orchidatech.jma.sharearide">

    <application
        android:name=".Database.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!--  metadata for version and database name -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="sharearide.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="sharearide.com.orchidatech.jma.sharearide.Database.Model.User,
                            sharearide.com.orchidatech.jma.sharearide.Database.Model.Ride,
                            sharearide.com.orchidatech.jma.sharearide.Database.Model.Chat" />

        <activity
            android:name=".Activity.SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>


</manifest>
