<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sharearide.com.orchidatech.jma.sharearide">

    <permission
        android:name="sharearide.com.orchidatech.jma.sharearide.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="sharearide.com.orchidatech.jma.sharearide.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- android:name=".Common"-->
    <application
        android:name=".Chat.Common"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Activity.SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".Activity.ServicesScreen"
            android:label="Services Screen" />

        <activity
            android:name=".Activity.NewUser"
            android:label="@string/title_activity_signup" />

        <activity
            android:name=".Activity.Login"
            android:label="@string/title_activity_login" />

        <activity
            android:name=".Activity.SearchResult"
            android:label="@string/title_activity_search_result" />

        <activity
            android:name=".Activity.Logout"
            android:label="@string/title_activity_logout" />

        <activity
            android:name=".Activity.ResetPassword"
            android:label="@string/title_activity_reset_password" />

        <activity
            android:name=".Activity.Inbox"
            android:label="@string/title_activity_inbox" />

        <activity
            android:name=".Activity.Warning"
            android:label="@string/title_activity_warning" />

        <activity
            android:name=".Activity.MapViewActivity"
            android:label="@string/title_activity_map" />

        <activity
            android:name=".Activity.ShareRide"
            android:label="@string/title_activity_share_ride" />

        <activity
            android:name=".Activity.Main"
            android:label="@string/title_activity_main" />

        <activity
            android:name=".Activity.MoreInfo"
            android:label="@string/title_activity_more_info" />

        <activity
            android:name=".Chat.SettingsActivity"
            android:label="@string/title_activity_settings" />

        <activity
            android:name=".Chat.ChatActivity"
            android:logo="@drawable/ic_contact_picture" />


        <service android:name=".Services.RefreshRideService" />

        <provider
            android:name=".Chat.DataProvider"
            android:authorities="sharearide.com.orchidatech.jma.sharearide.provider"
            android:exported="false" />

        <receiver
            android:name=".Chat.client.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="sharearide.com.orchidatech.jma.sharearide" />
            </intent-filter>
        </receiver>


        <!-- metadata for version and database name -->
        <meta-data
            android:name="AA_DB_NAME"
            android:value="sharearide.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="sharearide.com.orchidatech.jma.sharearide.Database.Model.User,
            sharearide.com.orchidatech.jma.sharearide.Database.Model.Ride,
            sharearide.com.orchidatech.jma.sharearide.Database.Model.Chat" />
        <meta-data
            android:name="com.facebook.FacebookActivity.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />


    </application>

</manifest>
